plots*
log*

*.txt
*.csv
*.py
*.sh

python/*pyc

tmp*
test

bin
build
rootfiles

dir_log
stashed
json*

mva/*xml
src/history
fakePhotonStudy/rootfiles*
fakePhotonStudy/eos*
fakePhotonStudy/*root

stack_plots/*pyc

# temporary
python/*
src/*
include/*
*png
